<aside class="bg-gray-300 dark:bg-gray-800 w-64 min-h-screen p-4">
    <ul class="space-y-4">
        <li><a href="#" class="text-black dark:text-white">Dashboard</a></li>
        <li><a href="#" class="text-black dark:text-white">Profile</a></li>
        <li><a href="#" class="text-black dark:text-white">Settings</a></li>
        <li><a href="#" class="text-black dark:text-white">Logout</a></li>
    </ul>
</aside>
  

<!-- Mobile Sidebar Toggle -->
<div class="sm:hidden">
    <button class="text-white">Menu</button>
</div>
  
  
